body {
    box-sizing: border-box;
    background-color: #efefef;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #114444;
    text-transform: uppercase;
}
header {
    /*Set the header to be at the top of the page even when scrolling*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
    /*When we scroll, we want the header to stay above everything*/
    z-index: 10; 
    
    /*Use flex containers and have the space between be equal*/
    display: flex;  
    display: -webkit-flex; 
    align-items: flex-end;
     
    background: linear-gradient(#ccffff, #efefef);
    border-bottom: 4px solid #f08a6f;
}

img#usericon {
    /*border: 1px solid red;*/
    width: 100px;
    height: 100px;

    /*Center it vertically in the header*/
    padding: 10px;
    margin-right: 10px;
}

img#logo {
    /*border: 1px solid green;*/
    padding: 10px 0px; 
    height: 100px;
    width: auto;
    
    /*Save room on the left for the user icon*/
    margin-left: auto;
    margin-right: 30px;
}
ul.navbar {          
    /*border: 1px solid black;*/
    /*Unordered List Used As Menu*/
    list-style-type: none;
    /*Placed directly after the logo with a margin. At bottom of header*/
    min-width: 100px;
    height: auto;
    
    /*Keep it spaced from the nav menu*/
    /*margin-left: -100px;*/
    margin-bottom: -4px;
    margin-right: auto;
    
}
ul.navbar li {
    display: inline-block;
    /*border: 3px dashed green;*/
}
ul.navbar li.active {
    border-bottom: 4px solid #ff0a00;
}
img.icon {
    height: 40px;
    width: 40px; 
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px;
}
img#menu {
    /*border: 1px solid red;*/
    
    /*Center it vertically in the header*/
    padding: 30px 10px;
    opacity: 0.65;
}
#top {
    display: flex;
    width: 100%; 
    height: 100px;
    padding: 0;
    margin: 0;
    margin-top: 140px;
}
h2.title {
    margin-left: auto;
    height: 100px;
    width: auto;
    font-size: 34px;
    margin-right: 50px;
}
button, input[type="button"] {
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: auto;
    
    background-color: #ff0a00;
    color: white;
    font-weight: bold;
    border: 1px solid #f08a6f;
    
    box-shadow: 1px 5px 15px 3px lightgrey;
    transition: box-shadow 0.5s;
}
button:active, input[type="button"]:active {
    box-shadow: 1px 5px 15px 3px lightgrey;
}
button:hover, input[type="button"]:hover {
    box-shadow: 2px 6px 15px 3px #aaaaaa,
        2px 6px 20px #777777;
}
/*Style the generated <p> of user info inside <p id='closelist'>*/
#closelist {
    /*Don't show the horizontal scroll bar when the element slides right*/
    overflow: hidden;
}
#closelist div {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: flex-end;
    
    padding: 5px;
    margin: 0px;
    border-top: 1px solid #f08a6f;
}
#closelist div img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 25px;
}
#closelist div span.dist {
    margin-right: 50px;
    margin-left: auto;
}

/*Specifically for Settings Page*/
fieldset {
    position: relative;
    margin: 20px;
    width: 90%;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: lightgrey;
    color: black;
}
input {
    width: 100%;
    border: 3px solid grey;
    border-radius: 4px;    
    font-size: 16px;
    outline: none;
}
input[type=text], input[type=number], input[type=search] {
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    
}
input:focus {
    border-color: #f08a6f;
    
}
#search {
    background: #FFFFFF url("images/glassicon.png") no-repeat;
    background-size: 30px 30px;
    background-position: 10px 6px;
    padding-left: 58px;
}
ul#genderButton {
    list-style: none;
    width: 100%;
    margin: auto;
    border: 1px solid black;
}
li.gender {
    display: inline-block;
    padding: 0px;

}
input[type=radio] {
    width: 28px;
}