body {
    background-color: #efefef;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    /*Set the header to be at the top of the page even when scrolling*/
    position: fixed;
    top: 0;
    left: 0;
    /*When we scroll, we want the header to stay above everything*/
    z-index: 10; 
    
    width: 100%;
    height: 120px;
    background: linear-gradient(#ccffff, #efefef);
    margin: 0px;
    padding: 0px;
    border-bottom: 4px solid #f08a6f;
}
/*div#logo {
    position: absolute;
    top: 0px;
    min-width: 450px;
    margin-left: 25%;
    height: 100px;
    padding: 0px;
    border: 1px solid blue;
}*/
img#logo {
    /*border: 1px solid red;*/
    min-width: 450px;
    margin-left: 150px;
    
    /*The image itself has a large right margin, so no need for extra*/
    margin-right: 0;
    display: inline-block;
}
/*NAV is no longer in use in the HTML document. All attributes have been folded into <header> class */
   
ul.navbar {           
    /*Unordered List Used As Menu*/
    list-style-type: none;
    display: inline-block;

    position: absolute;
    bottom: -4px;
    margin: 0px;
    margin-left: 10px;
    min-width: 100px;
    /*border: 1px solid black;*/

}
ul.navbar li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    /*border: 3px dashed green;*/
}
ul.navbar li.active {
    border-bottom: 4px solid #ff0a00;
}
img.icon {
    height: 40px;
    width: 40px; 
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px;

}
h2.title {
    margin-top: 160px;
    margin-left: 20px;
}
fieldset {
    position: relative;
    margin: 20px;
    width: 90%;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: lightgrey;
    color: black;
}
input {
    width: 100%;
    border: 3px solid grey;
    border-radius: 4px;    
    font-size: 16px;
    outline: none;
}
input[type=text], input[type=number], input[type=search] {
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    
}
input:focus {
    border-color: #f08a6f;
    
}
#search {
    background: #FFFFFF url("images/glassicon.png") no-repeat;
    background-size: 30px 30px;
    background-position: 10px 6px;
    padding-left: 58px;
}
ul#genderButton {
    list-style: none;
    width: 100%;
    margin: auto;
    border: 1px solid black;
}
li.gender {
    display: inline-block;
    padding: 0px;

}
input[type=radio] {
    width: 28px;
}