        body {
            background-color: #eeeeee;  
        }
        header {
            width: 100%;
            height: 150px;
            background: #ccffff url("images/logo.png") no-repeat center top;
            background-size: 450px 100px;
            margin: 0px;
            border: 1px solid black;
        }
        nav {
            background-color: #ccffff center;
            border-bottom: 4px solid #f08a6f;
            width: 100%;
            height: 50px; 
            padding-top: 100px;
            padding-left: 66%;
            border: 1px solid black;
       }
        
        ul.navbar li {           
            list-style-type: none;
            display: inline;
            padding: 0px;
            border: 1px solid black;
        }
        img.icon {
            height: 40px;
            width: 40px; 
            padding: 5px;
            border: 1px solid black;

        }
        fieldset {
            border: 3px ridge lawngreen;
        }
        #gender {
            background: #FFFFFF url("images/glassicon.png") no-repeat left top;
            
            }