body {
    background-color: #eeeeee;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    /*Set the header to be at the top of the page even when scrolling*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /*keep it below the navbar, though*/
    
    width: 100%;
    height: 120px;
    /*Place the logo in the middle of header*/
    background: #ccffff url("images/logo.png") no-repeat center top;
    background-size: 450px 100px;
    margin: 0px;
    /*border: 1px solid black;*/
}
nav {
    /*Fix nav bar at top of viewport, but placed at bottom of header*/
    position: absolute;
    bottom: 0;
    z-index: 11; /* Place in front of header*/
    /*Border between header/nav and rest of page*/
    border-bottom: 4px solid #f08a6f;
    
    margin: 0px;
    width: 100%;
    height: 50px; 
    clear: both;
}
/*.spacer {
    display: inline-block;
    border: 1px dashed #0000aa;
    width: 100px;
    height: inherit;
    float: left;
    
} */       
ul.navbar {           
    list-style-type: none;
    position: absolute;
    right: 33%;
    bottom: -4px;
    margin: 0px;
}
ul.navbar li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    /*border: 3px dashed green;*/
}
ul.navbar li.active {
    border-bottom: 4px solid #ff0a00;
}
img.icon {
    height: 40px;
    width: 40px; 
    padding: 5px;
    padding-bottom: 0px;
    /*border: 1px solid black;*/
    margin: 0px;

}
h1.title {
    margin-top: 160px;
    margin-left: 20px;
}
fieldset {
    position: relative;
    margin: 20px;
    width: 90%;
    border: 3px solid grey;
    border-radius: 4px;
    background-color: lightgrey;
    color: black;
}
input {
    width: 100%;
    border: 3px solid grey;
    border-radius: 4px;    
    font-size: 16px;
}
input[type=text], input[type=number], input[type=search] {
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    
}
input:focus {
    background-color: #f08a6f;
}
#gender {
    background: #FFFFFF url("images/glassicon.png") no-repeat;
    background-size: 30px 30px;
    background-position: 10px 6px;
    padding-left: 58px;
}